.sidebar-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;
  border-right: solid;
  border-color: rgb(38, 38, 38);
  background-color: black;
  border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 72px;
}

.instagram-button,
.home-button,
.search-button,
.explore-button,
.reels-button,
.messenger-button,
.notifications-button,
.new-post-button,
.profile-button,
.more-button {
  display: flex;
  border: none;
  border-radius: 20%;
  background-color: transparent;
  width: 48px;
  height: 48px;
  align-items: center;
  margin: 0;
  justify-content: center;
  transition: background-color 0.25s;
  cursor: pointer;
}

.instagram-button:hover,
.home-button:hover,
.search-button:hover,
.explore-button:hover,
.reels-button:hover,
.messenger-button:hover,
.notifications-button:hover,
.new-post-button:hover,
.more-button:hover,
.profile-button:hover{
  background-color:rgb(38, 38, 38);
}

.home-button,
.search-button,
.explore-button,
.reels-button,
.messenger-button,
.notifications-button,
.new-post-button,
.profile-button{
  margin-top: 8px;
}

.my-profile-pic{
  width: 24px;
  border-radius: 50%;
}

.home-button{
  margin-top: 32px;
}

.messenger-button{
  position: relative;
}

.number-of-messages{
  background-color: rgb(241, 71, 41);
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  border: solid;
  border-width: 1px; 
  border-color: black; 
}

